<ion-header>
  <ion-toolbar>
    <ion-title>
      BC4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    <p>My Health Diary</p>

    <!-- <div > 
    </div> -->
    <!-- <div>
    	<span>{{data["user"]["name"]}}</span>
    	<span>{{data["user"]["blood_group"]}}</span>
    	<span>{{data["user"]["age"]}}</span>
    	
    </div> -->
    <ion-card >
	  <!-- <ion-card-header>
	    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
	    <ion-card-title>Card Title</ion-card-title>
	  </ion-card-header> -->

	  <ion-card-content>
	  	<ion-row >
		    <ion-col size="3">
		      <ion-icon name="play" style="font-size:25px;"></ion-icon>
		    </ion-col>
		    <ion-col size="6">
		      <h5>Heart</h5>
		      <p>ion-col fgfdgd gfgfdgd fgfgfdg</p>
		    </ion-col>
		    <ion-col size="3">
		      <span>03 May 2019</span>
		      <span>12:49:00 am</span>
		    </ion-col>
	    </ion-row>
	    
	  </ion-card-content>
    </ion-card>

    <ion-card>
	  <!-- <ion-card-header>
	    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
	    <ion-card-title>Card Title</ion-card-title>
	  </ion-card-header> -->

	  <ion-card-content>
	  	<ion-row >
		    <ion-col size="3">
		      <ion-icon name="play" style="font-size:25px;"></ion-icon>
		    </ion-col>
		    <ion-col size="6">
		      <h5>Heart</h5>
		      <p>ion-col fgfdgd gfgfdgd fgfgfdg</p>
		    </ion-col>
		    <ion-col size="3">
		      <span>03 May 2019</span>
		      <span>12:49:00 am</span>
		    </ion-col>
	    </ion-row>
	    
	  </ion-card-content>
    </ion-card>

    <ion-card>
	  <!-- <ion-card-header>
	    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
	    <ion-card-title>Card Title</ion-card-title>
	  </ion-card-header> -->

	  <ion-card-content>
	  	<ion-row >
		    <ion-col size="3">
		      <ion-icon name="play" style="font-size:25px;"></ion-icon>
		    </ion-col>
		    <ion-col size="6">
		      <h5>Heart</h5>
		      <p>ion-col fgfdgd gfgfdgd fgfgfdg</p>
		    </ion-col>
		    <ion-col size="3">
		      <span>03 May 2019</span>
		      <span>12:49:00 am</span>
		    </ion-col>
	    </ion-row>
	    
	  </ion-card-content>
    </ion-card>
   
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="test()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
